* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(26, 97, 47);
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 20rem;
  padding: 3rem;
  background-image: url("https://i.imgur.com/T02tmb2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header span {
  background-color: black;
  width: 24rem;
  height: 5rem;
  position: absolute;
  left: 0;
  z-index: 0;
  /*para ficar embaixo do h2 */
  border-radius: 0.3rem;
}

header h1 {
  color: #f0ff00;
  font-size: 3rem;
  z-index: 1;
}

section#character-list {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3rem 0;
}

.card {
  display: flex;
  background-color: #3c3e44;
  height: 230px;
  width: 560px;
  border-radius: 0.5rem;
  margin: 4px 0;
}

.image-character {
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem 0 0 0.5rem;
}

.card div {
  padding: 1rem;
}

.name-character {
  color: white;
}

.species-character {
  padding-bottom: 10px;
}

.card p {
  color: white;
}

.card h4 {
  padding: 1rem;
  color: white;
  font-weight: 400;
}

footer {
  width: 100%;
  height: 3rem;

  background-image: url("https://i.imgur.com/T02tmb2.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  /* continuar embaixo */
  background-size: cover;
  /* cortar certinho a imagem */
}
